<!-- start section -->
<section id="down-section" class="overflow-hidden">
    <div class="container">
        <div class="row g-0 justify-content-center">
            <div
                class="col-lg-3 col-md-6"
                data-anime='{ "translateX": [-15, 0], "opacity": [0,1], "duration": 600, "delay": 100, "staggervalue": 300, "easing": "easeOutQuad" }'
            >
                <div
                    class="h-100 sm-h-500px xs-h-400px cover-background"
                    style="background-image: url(/images/services/ImageServices1.webp)"
                >
                </div>
            </div>
            <div
                class="col-lg-4 col-md-6"
                data-anime='{ "translateX": [15, 0], "opacity": [0,1], "duration": 600, "delay": 100, "staggervalue": 300, "easing": "easeOutQuad" }'
            >
                <div class="bg-base-color p-18 lg-p-15 h-100">
                    <h2 class="text-white mb-10px d-inline-block">
                        From your packages
                    </h2>

                    <h4 class="text-white mb-10px">
                        to a bouquet of flowers, we deliver your sentiments
                        anywhere you wish.
                    </h4>
                </div>
            </div>
           
        </div>
    </div>
</section>
<!-- end section -->