<!-- start section --> 
<section class="bg-very-light-gray"> 
    <div class="container">  
        <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-center" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
            <!-- start features box item -->
            <div class="col icon-with-text-style-07 transition-inner-all mb-30px">
                <div class="bg-white h-100 justify-content-start box-shadow-quadruple-large-hover feature-box p-15 md-p-13 border-radius-8px">
                    <div class="feature-box-icon mb-25px"> 
                        <img src="/images/home/IconosCarruselHome-01.png" class="h-65px" alt="">
                    </div>
                    <div class="feature-box-content">
                        <a class="d-inline-block fw-600 text-dark-gray mb-5px fs-20 ls-minus-05px">Vehicle Inspection For Keuringskaart</a>
                        <p class="mb-30px">We handle your car's inspection for Keuringskaart renewal.</p>
                        <a href="/viewmore" class="btn-extra-large thin btn-link text-base-color">View more</a>
                    </div>                        
                </div>
            </div>
            <!-- end features box item -->
            <!-- start features box item -->
            <div class="col icon-with-text-style-07 transition-inner-all mb-30px">
                <div class="bg-white h-100 justify-content-start box-shadow-quadruple-large-hover feature-box p-15 md-p-13 border-radius-8px">
                    <div class="feature-box-icon mb-25px"> 
                        <img src="/images/home/IconosCarruselHome_Artboard2.png" class="h-65px" alt="">
                    </div>
                    <div class="feature-box-content">
                        <a class="d-inline-block fw-600 text-dark-gray mb-5px fs-20 ls-minus-05px">Document Delivery</a>
                        <p class="mb-30px">We collect and deliver important documents securely and on time.</p>
                        <a href="/viewmore" class="btn-extra-large thin btn-link text-base-color">View more</a>
                    </div>
                    <span class="position-absolute box-shadow-large top-25px lg-top-15px right-25px lg-right-15px bg-base-color border-radius-18px text-white fs-11 fw-600 text-uppercase ps-15px pe-15px lh-26 ls-minus-05px">New</span>
                </div>
            </div>
            <!-- end features box item -->
            <!-- start features box item -->
            <div class="col icon-with-text-style-07 transition-inner-all mb-30px">
                <div class="bg-white h-100 justify-content-start box-shadow-quadruple-large-hover feature-box flex-column p-15 md-p-13 border-radius-8px">
                    <div class="feature-box-icon mb-25px"> 
                        <img src="/images/home/IconosCarruselHome_Artboard3.png" class="h-65px" alt="">
                    </div>
                    <div class="feature-box-content">
                        <a class="d-inline-block fw-600 text-dark-gray mb-5px fs-20 ls-minus-05px">Registry and Tax Office Procedures</a>
                        <p class="mb-30px">We manage procedures at the registry and tax office, saving you time.</p>
                        <a href="/viewmore" class="btn-extra-large thin btn-link text-base-color">View more</a>
                    </div>                        
                </div>
            </div>
            <!-- end features box item -->           
            <!-- start features box item -->
            <div class="col icon-with-text-style-07 transition-inner-all md-mb-30px">
                <div class="bg-white h-100 justify-content-start box-shadow-quadruple-large-hover feature-box flex-column p-15 md-p-13 border-radius-8px">
                    <div class="feature-box-icon mb-25px"> 
                        <img src="/images/home/IconosCarruselHome_Artboard8.png" class="h-65px" alt="">
                    </div>
                    <div class="feature-box-content">
                        <a class="d-inline-block fw-600 text-dark-gray mb-5px fs-20 ls-minus-05px">Keuringskaart Payment</a>
                        <p class="mb-30px">We take care of Keuringskaart payments on your behalf.</p>
                        <a href="/viewmore" class="btn-extra-large thin btn-link text-base-color">View more</a>
                    </div>                        
                </div>
            </div>
            <!-- end features box item -->
            <!-- start features box item -->
            <div class="col icon-with-text-style-07 transition-inner-all sm-mb-30px">
                <div class="bg-white h-100 justify-content-start box-shadow-quadruple-large-hover feature-box flex-column p-15 md-p-13 border-radius-8px">
                    <div class="feature-box-icon mb-25px"> 
                        <img src="/images/home/IconosCarruselHome_Artboard5.png" class="h-65px" alt="">
                    </div>
                    <div class="feature-box-content">
                        <a class="d-inline-block fw-600 text-dark-gray mb-5px fs-20 ls-minus-05px">Pick-up and Delivery of Packages and Documents</a>
                        <p class="mb-30px">We offer delivery services for small packages and documents.</p>
                        <a href="/viewmore" class="btn-extra-large thin btn-link text-base-color">View more</a>
                    </div>
                </div>
            </div>
            <!-- end features box item -->
            <!-- start features box item -->
            <div class="col icon-with-text-style-07 transition-inner-all">
                <div class="bg-white h-100 justify-content-start box-shadow-quadruple-large-hover feature-box flex-column p-15 md-p-13 border-radius-8px">
                    <div class="feature-box-icon mb-25px"> 
                        <img src="/images/home/IconosCarruselHome_Artboard9.png" class="h-65px" alt="">
                    </div>
                    <div class="feature-box-content">
                        <a class="d-inline-block fw-600 text-dark-gray mb-5px fs-20 ls-minus-05px">Personal Document Renewal</a>
                        <p class="mb-30px">We handle renewals for licenses and IDs, avoiding long lines and dealys.</p>
                        <a href="/viewmore" class="btn-extra-large thin btn-link text-base-color">View more</a>
                    </div>                        
                </div>
            </div>
            <!-- end features box item --> 
        </div>
    </div>
    <div class="row justify-content-center mt-5 mb-3">
        <div class="col-xl-7 col-lg-8 col-md-9 text-center" data-anime='{ "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
            <h3 class="fw-600 text-primary ls-minus-2px sm-ls-minus-1px">Lorem ipsum dolor sit amet, consectetur adipiscng elit, sed do eiusmod tempor incididunt</h3>
        </div>
    </div>
</section>
<!-- end section --> 