---
import services from '@/data/services.json';

---

<section class="bg-very-light-gray"> 
    <div class="container">  
        <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-center" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
            
            {services.map((item) => (
                <!-- start features box item -->
                <div class="col icon-with-text-style-07 transition-inner-all mb-30px">
                    <a href={item.url} class="bg-white h-100 justify-content-start box-shadow-quadruple-large-hover feature-box p-8 md-p-13 border-radius-8px">
                        <div class="feature-box-icon mb-25px"> 
                            <img src={item.icon} class="h-65px" alt="">
                        </div>
                        <div class="feature-box-content">
                            <h3 class="d-inline-block fw-600 text-dark-gray mb-5px fs-20 ls-minus-1px" set:html={item.title}></h3>
                            <p class="mb-30px">{(item.text)}</p>
                            <span class="btn-extra-large thin btn-link text-base-color">View more</span>
                        </div>                        
                    </a>
                </div>
            ))}
           
        </div>
         
    </div>
    <div class="row justify-content-center mt-5 mb-3">
        <div class="col-xl-7 col-lg-8 col-md-9 text-center" data-anime='{ "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
            <h3 class="fw-600 text-primary ls-minus-2px sm-ls-minus-1px">Comprehensive solutions for every need: diversity and excellence in one place.</h3>
        </div>
    </div>
</section>
<!-- end section --> 