---
import {getI18N} from "@/i18n/index"

const { currentLocale} = Astro;
const i18n = getI18N({currentLocale})
---
  
  <!-- start page title -->
  <section class="page-title-big-typography bg-dark-gray ipad-top-space-margin xs-py-0" style="background: url(/images/about/Slider-principal-About-Us.webp) no-repeat center bottom / cover">
    <div class="opacity-light bg-dark-gray"></div>
    <div class="container">
        <div class="row align-items-center justify-content-center one-third-screen">
            <div class="col-lg-6 col-md-8 position-relative text-center page-title-extra-small" data-anime='{ "el": "childs", "rotateX": [90, 0], "opacity": [0,1], "staggervalue": 150, "easing": "easeOutQuad" }'>
                <h1 class="mb-5px alt-font text-white"><span class="opacity-6">{(i18n.About.BannerAbout.About_Subtitle)}</span></h1>
                <h2 class="mb-0 text-white alt-font ls-minus-2px text-shadow-double-large fw-500">{(i18n.About.BannerAbout.About_Title)}</h2>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->