  <!-- start section --> 
  <section>
    <div class="container">
        <div class="row justify-content-center text-center text-lg-start" data-anime='{ "el": "childs", "translateX": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
            <div class="col-lg-6 md-mb-25px">
                <h1 class="alt-font fw-600 text-dark-gray mb-0 ls-minus-1px shadow-none" data-shadow-animation="true" data-animation-delay="700">Perfect <span class="text-highlight">solutions<span class="bg-base-color h-10px sm-h-8px bottom-20px md-bottom-17px opacity-5 separator-animation"></span></span> for your business.</h1>
            </div>
            <div class="col-lg-5 offset-lg-1 last-paragraph-no-margin">
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit do eiusmod tempor incididunt ut labore et dolore magna ut enim ad minim veniam nostrud exercitation.</p>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-4 row-cols-sm-2 mt-7 justify-content-center" data-anime='{ "el": "childs", "translateX": [-50, 0], "opacity": [0,1], "duration": 600, "delay": 100, "staggervalue": 100, "easing": "easeOutQuad" }'>
            <!-- start pie chart item -->
            <div class="col md-mb-45px">
                <div class="chart-percent mb-20px">
                    <span class="pie-chart-style-01 d-flex align-items-center justify-content-center" data-line-width="4" data-percent="90" data-track-color="#ffffff" data-start-color="#BC8947" data-end-color="#BC8947">
                        <span class="percent d-flex align-items-center justify-content-center fs-22 fw-500 text-dark-gray bg-gradient-extra-midium-gray-transparent box-shadow-double-large w-100px h-100px rounded-circle"></span>
                    </span>
                </div>
                <div class="chart-text text-center alt-font text-dark-gray fw-500 fs-22">Finance issues</div>
            </div>
            <!-- end pie chart item -->
            <!-- start pie chart item -->
            <div class="col md-mb-45px">
                <div class="chart-percent mb-20px">
                    <span class="pie-chart-style-01 d-flex align-items-center justify-content-center" data-line-width="4" data-percent="92" data-track-color="#ffffff" data-start-color="#BC8947" data-end-color="#BC8947">
                        <span class="percent d-flex align-items-center justify-content-center fs-22 fw-500 text-dark-gray bg-gradient-extra-midium-gray-transparent box-shadow-double-large w-100px h-100px rounded-circle"></span>
                    </span>
                </div>
                <div class="chart-text text-center alt-font text-dark-gray fw-500 fs-22">Cost analysis</div>
            </div>
            <!-- end pie chart item -->
            <!-- start pie chart item -->
            <div class="col xs-mb-45px">
                <div class="chart-percent mb-20px">
                    <span class="pie-chart-style-01 d-flex align-items-center justify-content-center" data-line-width="4" data-percent="94" data-track-color="#ffffff" data-start-color="#BC8947" data-end-color="#BC8947">
                        <span class="percent d-flex align-items-center justify-content-center fs-22 fw-500 text-dark-gray bg-gradient-extra-midium-gray-transparent box-shadow-double-large w-100px h-100px rounded-circle"></span>
                    </span>
                </div>
                <div class="chart-text text-center alt-font text-dark-gray fw-500 fs-22">Profit calculation</div>
            </div>
            <!-- end pie chart item -->
            <!-- start pie chart item -->
            <div class="col">
                <div class="chart-percent mb-20px">
                    <span class="pie-chart-style-01 d-flex align-items-center justify-content-center" data-line-width="4" data-percent="90" data-track-color="#ffffff" data-start-color="#BC8947" data-end-color="#BC8947">
                        <span class="percent d-flex align-items-center justify-content-center fs-22 fw-500 text-dark-gray bg-gradient-extra-midium-gray-transparent box-shadow-double-large w-100px h-100px rounded-circle"></span>
                    </span>
                </div>
                <div class="chart-text text-center alt-font text-dark-gray fw-500 fs-22">Growth ratio</div>
            </div>
            <!-- end pie chart item -->
        </div>
    </div> 
</section>
<!-- end section -->  