---
import {getI18N} from "@/i18n/index"

const { currentLocale} = Astro;
const i18n = getI18N({currentLocale})
---

        <!-- start section -->
        <section id="down-section">
            <div id="particles-01" data-particle="true" data-particle-options='{"particles": {"number": {"value": 6,"density": {"enable": true,"value_area": 1000}},"color":{"value":["#b7b9be", "#dd6531"]},"shape": {"type": "circle","stroke":{"width":0,"color":"#000000"}},"opacity": {"value": 0.5,"random": false,"anim": {"enable": false,"speed": 1,"sync": false}},"size": {"value": 8,"random": true,"anim": {"enable": false,"sync": true}},"move": {"enable": true,"speed":2,"direction": "right","random": false,"straight": false}},"interactivity": {"detect_on": "canvas","events": {"onhover": {"enable": false,"mode": "repulse"},"onclick": {"enable": false,"mode": "push"},"resize": true}},"retina_detect": false}' class="position-absolute h-100 top-0 left-0 z-index-minus-1"></div>
            <div class="container">
                <div class="row justify-content-center text-center text-lg-start">
                    <div class="col-xl-5 col-lg-6 md-mb-30px xs-mb-25px">
                        <h2 class="fw-600 text-dark-gray ls-minus-2px mb-0" data-anime='{ "el": "lines", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>Lorem ipsum dolor sit amet, consecteturet.</h2>
                    </div>
                    <div class="col-lg-6 offset-xl-1">
                        <p class="w-90 sm-w-100 mx-auto mx-lg-0" data-anime='{ "el": "lines", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>Adipiscing elit, sed do eusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Adipiscing elitdo eiusmod tempor.</p>
                        <a href="demo-consulting-services.html" class="btn btn-link btn-large text-dark-gray fw-600" data-anime='{ "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 300, "staggervalue": 300, "easing": "easeOutQuad" }'>Explore services</a>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center mt-5 md-mt-10">
                    <div class="col-xl-4 col-lg-3 col-md-4 sm-mb-35px" data-anime='{ "el": "childs", "translateX": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
                        <!-- start counter item -->
                        <div class="row align-items-center mb-50px sm-mb-35px">
                            <div class="col-5 col-xl-5 col-md-12 text-end">
                                <h2 class="alt-font fw-600 text-dark-gray ls-minus-2px mb-0 counter" data-speed="2000" data-to="2010"></h2>
                            </div>
                            <div class="col-7 col-xl-7 col-md-12 last-paragraph-no-margin text-md-end text-xl-start"> 
                                <span class="fs-20 text-dark-gray fw-600 alt-font">Founded</span>
                                <p>Founded a company</p>
                            </div>
                        </div>
                        <!-- end counter item -->
                        <!-- start counter item -->
                        <div class="row align-items-center">
                            <div class="col-5 col-xl-5 col-md-12 text-end">
                                <h2 class="alt-font fw-600 text-dark-gray ls-minus-2px mb-0 counter" data-speed="2000" data-to="2014"></h2>
                            </div>
                            <div class="col-7 col-xl-7 col-md-12 last-paragraph-no-margin text-md-end text-xl-start"> 
                                <span class="fs-20 text-dark-gray fw-600 alt-font">Expand team</span>
                                <p>Opportunity to expand</p>
                            </div>
                        </div>
                        <!-- end counter item -->
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-4 text-center animation-float sm-mb-65px" data-anime='{ "el": "childs", "scale": [0, 1], "opacity": [0,1], "duration": 600, "delay": 100, "staggervalue": 100, "easing": "easeOutQuad" }'> 
                        <img class="border-radius-100 w-350px" src="/images/about/ImageHistory_.webp" alt="" />
                    </div>
                    <div class="col-xl-4 col-lg-3 col-md-4" data-anime='{ "el": "childs", "translateX": [-50, 0], "opacity": [0,1], "duration": 600, "delay": 200, "staggervalue": 100, "easing": "easeOutQuad" }'>
                        <!-- start counter item -->
                        <div class="row align-items-center mb-50px sm-mb-35px">
                            <div class="col-5 col-xl-5 col-md-12 text-end text-xl-end text-md-start">
                                <h2 class="alt-font fw-600 text-dark-gray ls-minus-2px mb-0 counter" data-speed="2000" data-to="2019"></h2>
                            </div>
                            <div class="col-7 col-xl-7 col-md-12 last-paragraph-no-margin"> 
                                <span class="fs-20 text-dark-gray fw-600 alt-font">Build new office</span>
                                <p>Building a new office</p>
                            </div>
                        </div>
                        <!-- end counter item -->
                        <!-- start counter item -->
                        <div class="row align-items-center">
                            <div class="col-5 col-xl-5 col-md-12 text-end text-xl-end text-md-start">
                                <h2 class="alt-font fw-600 text-dark-gray ls-minus-2px mb-0 counter" data-speed="2000" data-to="2021"></h2>
                            </div>
                            <div class="col-7 col-xl-7 col-md-12 last-paragraph-no-margin"> 
                                <span class="fs-20 text-dark-gray fw-600 alt-font">Founded</span>
                                <p>The power of winning</p>
                            </div>
                        </div>
                        <!-- end counter item -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->