---
import {getI18N} from "@/i18n/index"

const { currentLocale} = Astro;
const i18n = getI18N({currentLocale})
---

<!-- start section -->
 <section class="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 text-center mb-2 xs-mb-4" data-anime='{ "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <span class="text-dark-gray fw-600 fs-50 border-1 pb-5px  border-color-extra-medium-gray text-dark-gray">{(i18n.AnimationHomme)}</span>
            </div>
        </div>
        <div class="row position-relative clients-style-08 mt-25px" data-anime='{ "opacity": [0,1], "duration": 600, "delay":200, "staggervalue": 300, "easing": "easeOutQuad" }'>
            <div class="col swiper text-center feather-shadow" data-slider-options='{ "slidesPerView": 2, "spaceBetween":0, "speed": 3000, "loop": true, "pagination": { "el": ".slider-four-slide-pagination-2", "clickable": false }, "allowTouchMove": false, "autoplay": { "delay":0, "disableOnInteraction": false}, "navigation": { "nextEl": ".slider-four-slide-next-2", "prevEl": ".slider-four-slide-prev-2" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "1200": { "slidesPerView": 5 }, "992": { "slidesPerView": 3 }, "576": { "slidesPerView": 2 } }, "effect": "slide" }'>
                <div class="swiper-wrapper marquee-slide">
                    <div class="swiper-slide">
                        <a href="https://www.a2zadmins.com/" target="_blank"><img src="/images/partners/A2Z-logo.png" alt="" /></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://betterships.net/" target="_blank"><img src="/images/partners/betterships-logo.png" alt="" /></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://botikadiservisio.com/" target="_blank"><img src="/images/partners/botika-logo.png" alt="" /></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://www.hooklegal.com/" target="_blank"><img src="/images/partners/hook-logo.svg" alt="" /></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://megacorp-advocaten.com/" target="_blank"><img src="/images/partners/megacorp-logo.svg" alt="" /></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank"><img src="/images/partners/number-logo.jpg" alt="" /></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://prgvcreatie.com/" target="_blank"><img src="/images/partners/PRGV-logo.svg" alt="" /></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://www.starmac.cw/" target="_blank"><img src="/images/partners/star-logo.jpg" alt="" /></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://taxcellence.nl/" target="_blank"><img src="/images/partners/tax-logo.png" alt="" /></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://www.tripleattorneys.com/" target="_blank"><img src="/images/partners/triplea-logo.svg" alt="" /></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://bluewebfactory.com/" target="_blank"><img src="/images/partners/blueweb-logo.svg" alt="" /></a>
                    </div>
                </div> 
            </div>  
        </div>
    </div>
</section>
<!-- end section -->