 <!-- start section --> 
 <section class="pb-4 sm-pb-50px">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 md-mb-35px text-center text-lg-start">
                <h3 class="fw-700 mb-0 text-dark-gray ls-minus-2px sm-ls-minus-1px" data-anime='{ "el": "lines", "translateY": [30, 0], "opacity": [0,1], "delay": 0, "staggervalue": 250, "easing": "easeOutQuad" }'>At vero eos et accusamus
                    1.</h3>
            </div>
           
        </div>
    </div>
</section>
<!-- end section -->
<!-- start section -->
<section class="pt-0">
    <div class="container">
        <div class="row justify-content-center mb-6">
            <div class="col-12 sliding-box sliding-box-style-02 d-flex lg-flex-nowrap flex-wrap p-md-0" data-anime='{ "el": "childs", "translateX": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <!-- start sliding box item -->
                <div class="sliding-box-item md-mb-30px">
                    <div class="sliding-box-img overflow-hidden">
                        <img src="/images/services/Imageservice1Detail.webp" alt="" class="w-100 h-100" />
                    </div>
                    <div class="d-flex flex-column align-items-start justify-content-center sliding-box-content bg-very-light-gray p-50px xl-p-35px">
                        <div class="content-hover w-100 last-paragraph-no-margin">
                            <img src="/images/home/IconosCarruselHome_Artboard3.png" class="h-50px" alt="">
                            <div class="fw-600 text-dark-gray ls-minus-05px fs-19 mb-5px">Registry and Tax Office Procedures</div>
                            <p class="lh-30">We manage procedures at the registry and tax office, saving you time.</p>
                        </div>
                    </div>
                </div>
                <!-- end sliding box item -->                        
                <!-- start sliding box item -->
                <div class="sliding-box-item active md-mb-30px">
                    <div class="sliding-box-img overflow-hidden">
                        <img src="/images/services/Imageservice2Detail.webp" alt="" class="w-100 h-100" />
                    </div>
                    <div class="d-flex flex-column align-items-start justify-content-center sliding-box-content bg-very-light-gray p-50px xl-p-35px">
                        <div class="content-hover w-100 last-paragraph-no-margin">
                            <img src="/images/home/IconosCarruselHome_Artboard5.png" class="h-50px" alt="">
                            <div class="fw-600 text-dark-gray ls-minus-05px fs-19 mb-5px">Pick-up and Delivery of Packages and Documents</div>
                            <p class="lh-30">We offer delivery services for small packages and documents.</p>
                        </div>
                    </div>
                </div>
                <!-- end sliding box item -->                        
                <!-- start sliding box item -->
                <div class="sliding-box-item">
                    <div class="sliding-box-img overflow-hidden">
                        <img src="/images/services/Imageservice3Detail.webp" alt="" class="w-100 h-100" />
                    </div>
                    <div class="d-flex flex-column align-items-start justify-content-center sliding-box-content bg-very-light-gray p-45px xl-p-35px">
                        <div class="content-hover w-100 last-paragraph-no-margin">
                            <img src="/images/home/IconosCarruselHome-01.png" class="h-50px" alt="">
                            <div class="fw-600 text-dark-gray ls-minus-05px fs-19 mb-5px">Vehicle Inspection For Keuringskaart</div>
                            <p class="lh-30">We handle your car's inspection for Keuringskaart renewal.</p>
                        </div>
                    </div>
                </div>
                <!-- end sliding box item -->                        
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center" data-anime='{ "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <div class="d-inline-block align-middle bg-yellow fw-600 text-white text-uppercase border-radius-30px ps-20px pe-20px fs-12 me-10px lh-30 sm-m-5px">Promise</div>
                <div class="d-inline-block align-middle text-dark-gray fs-19 fw-600 ls-minus-05px">Have any questions about your procedures? <a href="demo-accounting-contact.html" class="text-decoration-line-bottom text-dark-gray">We're here to assist you!</a></div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<!-- start section --> 