  <!-- start section -->
  <section class="big-section">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 justify-content-center counter-style-06" data-anime='{ "el": "childs", "translateX": [-50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
            <!-- start counter item -->
            <div class="col feature-box md-mb-50px xs-mb-30px">
                <div class="feature-box-content">
                    <div class="counter-number text-yellow counter fs-120 fw-700 ls-minus-3px" data-speed="2000" data-to="98"></div>
                    <span class="counter-title fs-24 fw-500 text-dark-gray ls-minus-1px">Members</span>
                </div>                        
            </div>
            <!-- end counter item -->                    
            <!-- start counter item -->
            <div class="col feature-box md-mb-50px xs-mb-30px"> 
                <div class="feature-box-content">
                    <div class="counter-number text-yellow counter fs-120 fw-700 ls-minus-3px" data-speed="2000" data-to="56"></div>
                    <span class="counter-title fs-24 fw-500 text-dark-gray ls-minus-1px">Growth</span> 
                </div>
            </div>
            <!-- end counter item -->                    
            <!-- start counter item -->
            <div class="col feature-box xs-mb-30px"> 
                <div class="feature-box-content">
                    <div class="counter-number text-yellow counter fs-120 fw-700 ls-minus-3px" data-speed="2000" data-to="63"></div>
                    <span class="counter-title fs-24 fw-500 text-dark-gray ls-minus-1px">Customers</span>
                </div>                        
            </div>
            <!-- end counter item -->                    
            <!-- start counter item -->
            <div class="col feature-box"> 
                <div class="feature-box-content last-paragraph-no-margin">
                    <div class="counter-number text-yellow counter fs-120 fw-700 ls-minus-3px" data-speed="2000" data-to="48"></div>
                    <span class="counter-title fs-24 fw-500 text-dark-gray ls-minus-1px">Telephonic</span> 
                </div>
            </div>                        
            <!-- end counter item -->
        </div>
    </div>
</section>
<!-- end section -->