 <!-- start section -->
 <section class="bg-gradient-very-light-gray">
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-2 row-cols-md-1 g-0 justify-content-center box-shadow-extra-large border-radius-10px overflow-hidden">
            <div class="col contact-form-style-04">
                <div class="h-100 md-h-450px sm-h-350px w-100 cover-background position-relative" style="background-image: url('/images/services/ImagesServiceFormContact.webp')">
                </div>
            </div>
            <div class="col contact-form-style-04">
                <div class="p-13 md-p-10 bg-white">
                    <h3 class="d-inline-block fw-600 text-dark-gray mb-8 ls-minus-1px">How we can help?</h3>
                    <form action="email-templates/contact-form.php" method="post">
                        <label class="text-dark-gray mb-10px fw-500">Username<span class="text-red">*</span></label> 
                        <input class="mb-20px bg-very-light-gray form-control required" type="text" name="name" placeholder="Enter your username" />
                        <label class="text-dark-gray mb-10px fw-500">Email address<span class="text-red">*</span></label> 
                        <input class="mb-20px bg-very-light-gray form-control required" type="email" name="email" placeholder="Enter your email" />
                        <label class="text-dark-gray mb-10px fw-500">Password<span class="text-red">*</span></label> 
                        <input class="mb-20px bg-very-light-gray form-control required" type="password" name="password" placeholder="Enter your password" /> 
                        <div class="position-relative terms-condition-box text-start d-inline-block mb-20px">
                            <label>
                                <input type="checkbox" name="terms_condition" id="terms_condition" value="1" class="terms-condition check-box align-middle required">
                                <span class="box fs-14">I agree to the terms of service.</span>
                            </label>
                        </div>
                        <input type="hidden" name="redirect" value="">
                        <button class="btn btn-large btn-round-edge btn-dark-gray btn-box-shadow submit w-100 mb-20px" type="submit">Contact Us</button>
                        <span class="fs-13 lh-22 w-90 lg-w-100 md-w-90 sm-w-100 d-block mb-30px">Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our <a href="#" class="text-dark-gray text-decoration-line-bottom fw-500">privacy policy.</a></span>
                        <div class="form-results mt-20px d-none"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->