---
const { getRelativeLocaleUrl, t, currentLocale , languages} = Astro.props;
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const { pathname } = Astro.url;


---

 <!-- start header -->
<header>
    <!-- start navigation -->
    <nav class="navbar navbar-expand-lg bg-transparent disable-fixed"> 
        <div class="container-fluid"> 
            <div class="col-auto me-lg-0 me-auto">
                <a class="navbar-brand" href={getRelativeLocaleUrl(currentLocale ?? '', '')}>
                    <img src="/images/izi-services-logo.svg" data-at2x="/images/izi-services-logo.svg" alt="" class="default-logo">
                    <img src="/images/izi-services-logo.svg" data-at2x="/images/izi-services-logo.svg" alt="" class="alt-logo">
                    <img src="/images/izi-services-logo.svg" data-at2x="/images/izi-services-logo.svg" alt="" class="mobile-logo">
                </a>
            </div>
            <div class="col-auto col-lg-7 menu-order position-static">
                <button class="navbar-toggler float-start" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-expanded="false" aria-controls="navbarNav" aria-label="Toggle navigation">
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav alt-font">                                              
                        <li class="nav-item"><a href={getRelativeLocaleUrl(currentLocale ?? '', '')}  class={`nav-link ${ pathname === "/" ? "text-primary" : ""} `} >{t('nav.index')}</a></li>
                        <li class="nav-item"><a href={getRelativeLocaleUrl(currentLocale ?? '', 'about')} class={`nav-link ${ pathname === "/about/" ? "text-primary" : ""} `} >{t('nav.about')}</a></li>
                        <li class="nav-item"><a href={getRelativeLocaleUrl(currentLocale ?? '', 'services')} class={`nav-link ${ pathname.includes("/services/") ? "text-primary" : ""} `} >{t('nav.services')} </a></li>
                        <!-- <li class="nav-item"><a href={getRelativeLocaleUrl(currentLocale ?? '', 'faqs')} class="nav-link">{t('nav.faqs')}</a></li>-->
                        <li class="nav-item"><a href={getRelativeLocaleUrl(currentLocale ?? '', 'contact')} class={`nav-link ${ pathname === "/contact/" ? "text-primary" : ""} `} >{t('nav.contact')}</a></li>                        
                    </ul>
                </div>
            </div>
            
            <div class="col-auto col-lg-3 text-end d-none d-sm-flex"> 
                <!--
                <div class="collapse navbar-collapse justify-content-center" id="navbarNavLanguage">
                    <ul class="navbar-nav alt-font">                             
                            {Object.entries(languages).filter(([lang]) => lang !== 'nl').map(([lang]) => (
                            <li class="nav-item m-5">
                                <a class="text-white" href={translatePath('/', lang)}>{lang.toUpperCase()}</a>                                
                            </li>
                            ))}                               
                    </ul>    
                </div> -->
                <div class="header-icon">
                    <div class="header-button"><a href="#contact-form" class="btn btn-very-small btn-white btn-box-shadow btn-round-edge left-icon text-transform-none popup-with-form"><i class="feather icon-feather-mail"></i>Free quote</a></div>
                </div>
                <!-- start contact form -->
                <div id="contact-form" class="container p-0 contact-form-style-01 position-relative text-center mfp-hide">
                    <div class="row g-0 justify-content-center">                        
                        <div class="col-lg-7">
                            <div class="p-15 lg-p-10 bg-white">
                                <h3 class="d-inline-block alt-font fw-600 text-dark-gray mb-10 ls-minus-1px">How we can help you?</h3>
                                <form action="/php/contact-form.php" method="post">
                                    <div class="position-relative form-group mb-20px">
                                        <span class="form-icon"><i class="bi bi-emoji-smile"></i></span>
                                        <input type="text" name="name" class="form-control required" placeholder="Enter your name*" />
                                    </div>
                                    <div class="position-relative form-group mb-20px">
                                        <span class="form-icon"><i class="bi bi-envelope"></i></span>
                                        <input type="email" name="email" class="form-control required" placeholder="Enter your email*" />
                                    </div>
                                    <div class="position-relative form-group mb-20px">
                                        <span class="form-icon"><i class="bi bi-telephone-outbound"></i></span>
                                        <input type="tel" name="phone" class="form-control required" placeholder="Enter your phone" />
                                    </div>
                                    <div class="position-relative form-group form-textarea">
                                        <span class="form-icon"><i class="bi bi-chat-square-dots"></i></span>
                                        <textarea placeholder="Your message" name="text" class="form-control" rows="3"></textarea>
                                        <input type="hidden" name="redirect" value="">
                                        <button class="btn btn-medium btn-base-color btn-box-shadow btn-round-edge w-100 mt-20px submit" type="submit">Send message</button>
                                        <div class="form-results mt-20px d-none"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end contact form -->
            </div>
        </div>
    </nav>
    <!-- end navigation -->
</header>
<!-- end header -->