<!-- start section -->
<section id="down-section" class="overflow-hidden">
    <div class="container">
        <div class="row g-0 justify-content-center">
            <div
                class="col-lg-3 col-md-6"
                data-anime='{ "translateX": [-15, 0], "opacity": [0,1], "duration": 600, "delay": 100, "staggervalue": 300, "easing": "easeOutQuad" }'
            >
                <div
                    class="h-100 sm-h-500px xs-h-400px cover-background"
                    style="background-image: url(/images/about/ImageAboutBottom.webp)"
                >
                </div>
            </div>
            <div
                class="col-lg-4 col-md-6"
                data-anime='{ "translateX": [15, 0], "opacity": [0,1], "duration": 600, "delay": 100, "staggervalue": 300, "easing": "easeOutQuad" }'
            >
                <div class="bg-base-color p-15 lg-p-15 h-100">
                    <h2 class="text-white mb-10px d-inline-block">
                        <strong>Join our team</strong>
                    </h2>

                    <h4 class="text-white mb-10px">
                        Reach out to us if you're interested in becoming part of
                        our family.
                    </h4>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1">
                <div
                    class="pt-5 md-pt-45px contact-form-style-01"
                    data-anime='{ "translateX": [0, 0], "opacity": [0,1], "duration": 600, "delay": 300, "staggervalue": 300, "easing": "easeOutQuad" }'
                >
                    <h4
                        class="d-inline-block alt-font fw-600 text-dark-gray ls-minus-1px mb-30px"
                    >
                        Let's Connect
                    </h4>
                    <p class="lead text-medium text-dark-gray mb-15px">
                        Ready to join our team or have questions about working with us? Fill out the form below, and we’ll get back to you shortly.
                    </p>
                    <!-- start contact form -->
                    <form
                        action="/php/contact-form.php"
                        method="post"
                    >   
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="position-relative form-group mb-20px">
                                    <span class="form-icon"
                                        ><i class="bi bi-emoji-smile"></i></span
                                    >
                                    <input
                                        type="text"
                                        name="name"
                                        class="form-control required"
                                        placeholder="Your name*"
                                    />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="position-relative form-group mb-20px">
                                    <span class="form-icon"
                                        ><i class="bi bi-envelope"></i></span
                                    >
                                    <input
                                        type="email"
                                        name="email"
                                        class="form-control required"
                                        placeholder="Your email address*"
                                    />
                                </div>
                            </div>
                        </div>
                        
                       
                        <div class="position-relative form-group mb-20px">
                            <span class="form-icon"><i class="bi bi-telephone"></i></span>
                            <input
                                type="tel"
                                name="phone"
                                 class="form-control required"
                                placeholder="Your phone number*"
                            />
                        </div>
                        <div class="position-relative form-group form-textarea">
                            <span class="form-icon"
                                ><i class="bi bi-chat-square-dots"></i></span
                            >
                            <textarea
                                placeholder="Your message"
                                name="text"
                                class="form-control"
                                rows="2"></textarea>
                            <input type="hidden" name="redirect" value="" />
                            
                            <button
                                class="btn btn-small btn-round-edge btn-dark-gray btn-box-shadow mt-20px m-auto submit"
                                type="submit">Send message</button
                            >
                            <div class="form-results mt-20px d-none"></div>
                        </div>
                    </form>
                    <!-- end contact form -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->

