 <!-- start section -->
 <section class="pb-0">
    <div class="container">   
        <div class="row">
            <div class="col-xxl-7 col-lg-7 md-mb-40px d-flex flex-column" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <h3 class="fw-700 text-dark-gray ls-minus-1px mb-20px w-85 xs-w-100">Our Part-Time Team</h3>
                <p class="mb-35px w-85 sm-w-100">Flexible. Talented. Always ready. Meet the crew that helps us level up.</p>
            </div>    
        </div>     
        <div class="row" data-anime='{ "el": "childs", "translateX": [-50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
            <div class="swiper" style="height: 100%; min-height: 250px;" data-slider-options='{
                "slidesPerView": 4,
                "spaceBetween": 30,
                "loop": true,
                "autoplay": { "delay": 3000, "disableOnInteraction": false },
                "pagination": false,
                "navigation": true,
                "keyboard": { "enabled": true, "onlyInViewport": true },
                "breakpoints": {
                    "992": { "slidesPerView": 4 },
                    "768": { "slidesPerView": 2 },
                    "150": { "slidesPerView": 2 }
                },
                "effect": "slide"
            }'
            >
                <div class="swiper-wrapper">
                    <!-- start team member item --> 
                    <div class="swiper-slide text-center team-style-01 md-mb-30px">
                        <figure class="mb-0 hover-box box-hover position-relative">                            
                            <figcaption class="w-100 p-30px lg-p-25px bg-white">
                                <div class="position-relative z-index-1 overflow-hidden lg-pb-5px">
                                    <span class="fs-19 d-block fw-600 text-dark-gray lh-26 ls-minus-05px">Karel Koejiers</span>
                                    <p class="m-0">Part-time Courier.</p>
                                </div>
                                <div class="box-overlay bg-white box-shadow-quadruple-large border-radius-6px"></div>
                            </figcaption>
                        </figure>
                    </div>
                    <!-- end team member item -->       
                    <!-- start team member item --> 
                    <div class="swiper-slide text-center team-style-01 md-mb-30px">
                        <figure class="mb-0 hover-box box-hover position-relative">
                            <figcaption class="w-100 p-30px lg-p-25px bg-white">
                                <div class="position-relative z-index-1 overflow-hidden lg-pb-5px">
                                    <span class="fs-19 d-block fw-600 text-dark-gray lh-26 ls-minus-05px">Titi Ling</span>
                                    <p class="m-0">Part-time Courier.</p>
                                </div>
                                <div class="box-overlay bg-white box-shadow-quadruple-large border-radius-6px"></div>
                            </figcaption>
                        </figure>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->