 <!-- start section -->
 <section class="py-0">
    <div class="container">        
        <div class="row row-cols-1 row-cols-lg-4 row-cols-sm-2" data-anime='{ "el": "childs", "translateX": [-50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
            <!-- start team member item --> 
            <div class="col text-center team-style-01 md-mb-30px">
                <figure class="mb-0 hover-box box-hover position-relative">
                    <img src="/images/about/TeamCuracaoIZIServices1.webp" alt="" class="border-radius-6px" />
                    <figcaption class="w-100 p-30px lg-p-25px bg-white">
                        <div class="position-relative z-index-1 overflow-hidden lg-pb-5px">
                            <span class="fs-19 d-block fw-600 text-dark-gray lh-26 ls-minus-05px">Jeremy dupont</span>
                            <p class="m-0">Executive officer</p>
                            <div class="social-icon hover-text mt-20px lg-mt-10px social-icon-style-05">
                                <a href="https://www.facebook.com/" target="_blank" class="fw-600 text-dark-gray">Fb.</a>
                                <a href="https://www.instagram.com/" target="_blank" class="fw-600 text-dark-gray">In.</a>
                                <a href="https://www.twitter.com/" target="_blank" class="fw-600 text-dark-gray">Tw.</a>
                                <a href="https://dribbble.com/" target="_blank" class="fw-600 text-dark-gray">Dr.</a>
                            </div>
                        </div>
                        <div class="box-overlay bg-white box-shadow-quadruple-large border-radius-6px"></div>
                    </figcaption>
                </figure>
            </div>
            <!-- end team member item -->       
            <!-- start team member item --> 
            <div class="col text-center team-style-01 md-mb-30px">
                <figure class="mb-0 hover-box box-hover position-relative">
                    <img src="/images/about/TeamCuracaoIZIServices2.webp" alt="" class="border-radius-6px" />
                    <figcaption class="w-100 p-30px lg-p-25px bg-white">
                        <div class="position-relative z-index-1 overflow-hidden lg-pb-5px">
                            <span class="fs-19 d-block fw-600 text-dark-gray lh-26 ls-minus-05px">Jessica dover</span>
                            <p class="m-0">Vice president</p>
                            <div class="social-icon hover-text mt-20px lg-mt-10px">
                                <a href="https://www.facebook.com/" target="_blank" class="fw-600 text-dark-gray">Fb.</a>
                                <a href="https://www.instagram.com/" target="_blank" class="fw-600 text-dark-gray">In.</a>
                                <a href="https://www.twitter.com/" target="_blank" class="fw-600 text-dark-gray">Tw.</a>
                                <a href="https://dribbble.com/" target="_blank" class="fw-600 text-dark-gray">Dr.</a>
                            </div>
                        </div>
                        <div class="box-overlay bg-white box-shadow-quadruple-large border-radius-6px"></div>
                    </figcaption>
                </figure>
            </div>
            <!-- end team member item -->     
            <!-- start team member item --> 
            <div class="col text-center team-style-01 xs-mb-30px">
                <figure class="mb-0 hover-box box-hover position-relative">
                    <img src="/images/about/TeamCuracaoIZIServices3.webp" alt="" class="border-radius-6px" />
                    <figcaption class="w-100 p-30px lg-p-25px bg-white">
                        <div class="position-relative z-index-1 overflow-hidden lg-pb-5px">
                            <span class="fs-19 d-block fw-600 text-dark-gray lh-26 ls-minus-05px">Matthew taylor</span>
                            <p class="m-0">Financial officer</p>
                            <div class="social-icon hover-text mt-20px lg-mt-10px">
                                <a href="https://www.facebook.com/" target="_blank" class="fw-600 text-dark-gray">Fb.</a>
                                <a href="https://www.instagram.com/" target="_blank" class="fw-600 text-dark-gray">In.</a>
                                <a href="https://www.twitter.com/" target="_blank" class="fw-600 text-dark-gray">Tw.</a>
                                <a href="https://dribbble.com/" target="_blank" class="fw-600 text-dark-gray">Dr.</a>
                            </div>
                        </div>
                        <div class="box-overlay bg-white box-shadow-quadruple-large border-radius-6px"></div>
                    </figcaption>
                </figure>
            </div>
            <!-- end team member item -->     
        </div>
    </div>
</section>
<!-- end section -->