 <!-- start section -->
 <section class="py-0">
    <div class="container">        
        <div class="row" data-anime='{ "el": "childs", "translateX": [-50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
            <div class="swiper" style="height: 100%; min-height: 250px;" data-slider-options='{
                "slidesPerView": 4,
                "spaceBetween": 30,
                "loop": true,
                "autoplay": { "delay": 3000, "disableOnInteraction": false },
                "pagination": false,
                "navigation": true,
                "keyboard": { "enabled": true, "onlyInViewport": true },
                "breakpoints": {
                    "992": { "slidesPerView": 4 },
                    "768": { "slidesPerView": 2 },
                    "150": { "slidesPerView": 2 }
                },
                "effect": "slide"
            }'
            >
                <div class="swiper-wrapper">
                    <!-- start team member item --> 
                    <div class="swiper-slide text-center team-style-03 md-mb-30px">
                        <figure class="mb-0 hover-box box-hover position-relative">
                            <img src="/images/about/TeamCuracaoIZIServices1.webp" alt="" class="border-radius-6px" />
                            <figcaption class="w-100 p-30px lg-p-25px bg-white">
                                <div class="position-relative z-index-1 overflow-hidden lg-pb-5px">
                                    <span class="fs-19 d-block fw-600 text-dark-gray lh-26 ls-minus-05px">Kenneth Izijk</span>
                                    <p class="m-0">Founder and director.</p>
                                </div>
                                <div class="box-overlay bg-white box-shadow-quadruple-large border-radius-6px"></div>
                            </figcaption>
                        </figure>
                    </div>
                    <!-- end team member item -->       
                    <!-- start team member item --> 
                    <div class="swiper-slide text-center team-style-03 md-mb-30px">
                        <figure class="mb-0 hover-box box-hover position-relative">
                            <img src="/images/about/team-mayrelin.jpg" alt="" class="border-radius-6px" />
                            <figcaption class="w-100 p-30px lg-p-25px bg-white">
                                <div class="position-relative z-index-1 overflow-hidden lg-pb-5px">
                                    <span class="fs-19 d-block fw-600 text-dark-gray lh-26 ls-minus-05px">Mayrelin Izijk Elstak</span>
                                    <p class="m-0">Financial Director</p>
                                </div>
                                <div class="box-overlay bg-white box-shadow-quadruple-large border-radius-6px"></div>
                            </figcaption>
                        </figure>
                    </div>
                    <!-- end team member item -->     
                    <!-- start team member item --> 
                    <div class="swiper-slide text-center team-style-03 xs-mb-30px">
                        <figure class="mb-0 hover-box box-hover position-relative">
                            <img src="/images/about/TeamCuracaoIZIServices3.webp" alt="" class="border-radius-6px" />
                            <figcaption class="w-100 p-30px lg-p-25px bg-white">
                                <div class="position-relative z-index-1 overflow-hidden lg-pb-5px">
                                    <span class="fs-19 d-block fw-600 text-dark-gray lh-26 ls-minus-05px">Ginette Peña</span>
                                    <p class="m-0">Courier</p>
                                </div>
                                <div class="box-overlay bg-white box-shadow-quadruple-large border-radius-6px"></div>
                            </figcaption>
                        </figure>
                    </div>
                    <!-- end team member item -->     
                    <!-- start team member item --> 
                    <div class="swiper-slide text-center team-style-03 xs-mb-30px">
                        <figure class="mb-0 hover-box box-hover position-relative">
                            <img src="/images/about/TeamCuracaoIZIServices2.webp" alt="" class="border-radius-6px" />
                            <figcaption class="w-100 p-30px lg-p-25px bg-white">
                                <div class="position-relative z-index-1 overflow-hidden lg-pb-5px">
                                    <span class="fs-19 d-block fw-600 text-dark-gray lh-26 ls-minus-05px">Monalisa Finix</span>
                                    <p class="m-0">Courier.</p>
                                </div>
                                <div class="box-overlay bg-white box-shadow-quadruple-large border-radius-6px"></div>
                            </figcaption>
                        </figure>
                    </div>
                    <!-- end team member item -->   
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->