 <!-- start section -->
 <section class="big-section bg-gradient-top-very-light-gray">
    <div class="row justify-content-center mb-3">
        <div class="col-xl-9col-lg-8 col-md-9 text-center" data-anime='{ "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
            <h3 class="fw-500 text-dark-gray ls-minus-2px sm-ls-minus-1px">Lorem ipsum dolor sit amet, consectetur adipiscng elit, sed do eiusmod tempor incididunt</h3>
        </div>
    </div>
    <div class="container"> 
        <!-- start pricing style -->
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6 pe-50px lg-pe-30px md-pe-15px pricing-table-style-09" data-anime='{ "el": "childs", "translateX": [-30, 1], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue":200, "easing": "easeOutQuad" }'>
                <div class="row border-top border-color-extra-medium-gray g-0 xs-pt-20px xs-pb-20px">
                    <div class="col-sm-3 text-center align-self-center">
                        <img  src="/images/home/IconosCarruselHome-01.png" class="w-55px" alt="">
                    </div>
                    <div class="col-sm-7 text-center text-sm-start last-paragraph-no-margin ps-40px pe-40px pt-30px pb-30px border-start border-color-extra-medium-gray xs-border-start-0 lg-ps-20px lg-pe-20px">
                        <span class="text-dark-gray fs-19 fw-600">Vehicle Inspection For Keuringskaart</span>
                        <p class="lh-26">We handle your car's inspection for Keuringskaart renewal.</p>
                    </div>
                    <div class="col-sm-2 text-center text-sm-start align-self-center">
                        <h4 class="fw-600 text-dark-gray mb-0">$35</h4>
                    </div>
                </div>
                <div class="row border-top border-color-extra-medium-gray align-items-center g-0 xs-pt-20px xs-pb-20px">
                    <div class="col-sm-3 align-self-center text-center">
                        <img src="/images/home/IconosCarruselHome_Artboard2.png" class="w-55px" alt="">
                    </div>
                    <div class="col-sm-7 text-center text-sm-start last-paragraph-no-margin ps-40px pe-40px pt-30px pb-30px border-start border-color-extra-medium-gray xs-border-start-0 lg-ps-20px lg-pe-20px">
                        <span class="text-dark-gray fs-19 fw-600">Document Delivery</span>
                        <p class="lh-26">We collect and deliver important documents securely and on time.</p>
                    </div>
                    <div class="col-sm-2 text-center text-sm-start align-self-center">
                        <h4 class="fw-600 text-dark-gray mb-0">$35</h4>
                    </div>
                </div>
                <div class="row border-top border-bottom border-color-extra-medium-gray align-items-center g-0 xs-pt-20px xs-pb-20px">
                    <div class="col-sm-3 align-self-center text-center">
                        <img src="/images/home/IconosCarruselHome_Artboard3.png" class="w-55px" alt="">
                    </div>
                    <div class="col-sm-7 text-center text-sm-start last-paragraph-no-margin ps-40px pe-40px pt-30px pb-30px border-start border-color-extra-medium-gray xs-border-start-0 lg-ps-20px lg-pe-20px">
                        <span class="text-dark-gray fs-19 fw-600">Registry and Tax Office Procedures</span>
                        <p class="lh-26">We manage procedures at the registry and tax office, saving you time.</p>
                    </div>
                    <div class="col-sm-2 text-center text-sm-start align-self-center">
                        <h4 class="fw-600 text-dark-gray mb-0">$35</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 ps-50px lg-ps-30px md-ps-15px pricing-table-style-09" data-anime='{ "el": "childs", "translateX": [30, 1], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue":200, "easing": "easeOutQuad" }'>
                <div class="row border-top border-color-extra-medium-gray g-0 md-border-top-0 xs-pt-20px xs-pb-20px">
                    <div class="col-sm-3 text-center align-self-center">
                        <img src="/images/home/IconosCarruselHome_Artboard8.png" class="w-55px" alt="">
                    </div>
                    <div class="col-sm-7 text-center text-sm-start last-paragraph-no-margin ps-40px pe-40px pt-30px pb-30px border-start border-color-extra-medium-gray xs-border-start-0 lg-ps-20px lg-pe-20px">
                        <span class="text-dark-gray fs-19 fw-600">Keuringskaart Payment</span>
                        <p class="lh-26">We take care of Keuringskaart payments on your behalf.</p>
                    </div>
                    <div class="col-sm-2 text-center text-sm-start align-self-center">
                        <h4 class="fw-600 text-dark-gray mb-0">$25</h4>
                    </div>
                </div>
                <div class="row border-top border-color-extra-medium-gray align-items-center g-0 xs-pt-20px xs-pb-20px">
                    <div class="col-sm-3 align-self-center text-center">
                        <img src="/images/home/IconosCarruselHome_Artboard5.png" class="w-55px" alt="">
                    </div>
                    <div class="col-sm-7 text-center text-sm-start last-paragraph-no-margin ps-40px pe-40px pt-30px pb-30px border-start border-color-extra-medium-gray xs-border-start-0 lg-ps-20px lg-pe-20px">
                        <span class="text-dark-gray fs-19 fw-600">Pick-up and Delivery of Packages and Documents</span>
                        <p class="lh-26">We offer delivery services for small packages and documents.</p>
                    </div>
                    <div class="col-sm-2 text-center text-sm-start align-self-center">
                        <h4 class="fw-600 text-dark-gray mb-0">$25</h4>
                    </div>
                </div>
                <div class="row border-top border-bottom border-color-extra-medium-gray align-items-center g-0 xs-pt-20px xs-pb-20px">
                    <div class="col-sm-3 align-self-center text-center">
                        <img src="/images/home/IconosCarruselHome_Artboard9.png" class="w-55px" alt="">
                    </div>
                    <div class="col-sm-7 text-center text-sm-start last-paragraph-no-margin ps-40px pe-40px pt-30px pb-30px border-start border-color-extra-medium-gray xs-border-start-0 lg-ps-20px lg-pe-20px">
                        <span class="text-dark-gray fs-19 fw-600">Personal Document Renewal</span>
                        <p class="lh-26">We handle renewals for licenses and IDs, avoiding long lines and dealys.</p>
                    </div>
                    <div class="col-sm-2 text-center text-sm-start align-self-center">
                        <h4 class="fw-600 text-dark-gray mb-0">$25</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- end pricing style -->
    </div>
</section>
<!-- end section -->